// • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •
//  Init Nimda
@import "_init";


/* DASHBOARD */

.dashboard .module h2 {
  padding: 6px $distance-s;
}

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

.dashboard .module {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;

  td,th {
    padding: 10px;
  }

  caption,h2 {
    background-color: $color-grey-lighter;
  }

}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
    margin-bottom: 5px;
    line-height: 1.25;
    border-bottom: $color-grey-light 1px solid;

    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;

    &:before {
      color: $color-grey;
    }

    &:last-of-type {
      border-bottom: 0;
    }
}


/* Icons */
.module caption:before  { color: $color-grey}
[class^="app-"] caption { @include faIconPlacement('fa-clone', 'xs', 31px, -19px, 4px) }
.app-auth caption { @include faIconPlacement('fa-lock', 's', 31px, -19px, 4px) }
.app-carts caption { @include faIconPlacement('fa-shopping-cart', 'xs', 31px, -20px, 4px) }
.app-orders caption { @include faIconPlacement('fa-file', 12px, 31px, -19px, 4px) }
.app-products caption { @include faIconPlacement('fa-cube', 'xs', 31px, -19px, 4px) }
.app-pages caption { @include faIconPlacement('fa-file', 'xs', 31px, -19px, 4px) }
.app-staff caption { @include faIconPlacement('fa-users', 'xs', 31px, -19px, 4px) }
.app-blog, .app-news { caption { @include faIconPlacement('fa-rss', 'xs', 31px, -19px, 5px) } }
.app-case, .app-cases, .app-showcase { caption { @include faIconPlacement('fa-trophy', 's', 31px, -19px, 3px) }}
.app-jobs caption { @include faIconPlacement('fa-briefcase', 'xs', 31px, -19px, 5px) }
.app-redirects caption { @include faIconPlacement('fa-exchange', 'xs', 31px, -19px, 4px) }
.app-startpage caption { @include faIconPlacement('fa-home', 's', 31px, -19px, 3px) }
