// • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • • •
//  Init Nimda
@import "_init";


/* DASHBOARD */

.dashboard .module h2 {
  // font-size: fs('m');
  padding: 5px $distance-s;
}

.dashboard .module table th {
    width: 100%;
}

.dashboard .module table td {
    white-space: nowrap;
}

.dashboard .module table td a {
    display: block;
    padding-right: .6em;
}

.dashboard .module {
  // font-size: fs('l');
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;

  td,th {
    padding: 6px 10px;
    border-bottom-color: $color-grey-lighter;
  }

  caption {
    background-color: $color-grey-lighter;
  }

}

/* RECENT ACTIONS MODULE */

.module ul.actionlist {
    margin-left: 0;
}

ul.actionlist li {
    list-style-type: none;
    margin-bottom: 5px;
    line-height: 1.25;

    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;

    &:before {
      color: $color-grey;
    }
}


/* Icons */
.app-auth caption { @include faIconPlacement('fa-user', 'xs', 31px, -19px, 4px) }
.app-carts caption { @include faIconPlacement('fa-shopping-cart', 'xs', 31px, -20px, 4px) }
.app-orders caption { @include faIconPlacement('fa-file', 12px, 31px, -19px, 4px) }
.app-products caption { @include faIconPlacement('fa-cube', 'xs', 31px, -19px, 4px) }