/* make error look the same as danger */
.callout.callout-error {
  border-color: #c23321;
  color: #fff !important;
  background-color: #dd4b39 !important;
}

.select2-selection--multiple .select2-dropdown .select2-search__field:focus,
.select2-selection--multiple .select2-search--inline .select2-search__field:focus {
  outline: none;
  border: none;
}

/* action cols */
table thead th.action-checkbox-column {
  width: 1.5em;
  text-align: center;
}
table tbody td.action-checkbox {
  text-align: center;
}

/* SORTABLE TABLES */
thead th {
  line-height: normal;
  border-bottom: 1px solid #ccc; }

thead th a:link, thead th a:visited {
  color: #666; }

thead th.sorted {
  font-weight: 600; }
  thead th.sorted a {
    color: #000; }

thead th.sorted .text {
  padding-right: 42px; }

table thead th .text span {
  padding: 5px 10px;
  display: block; }

table thead th .text a {
  display: block;
  cursor: pointer;
  padding: 5px 10px; }

thead th.sorted a.sortremove {
  visibility: hidden; }

table thead th.sorted:hover a.sortremove {
  visibility: visible; }

table thead th.sorted .sortoptions {
  display: block;
  padding: 11px 5px 0 5px;
  float: right;
  text-align: right; }

table thead th.sorted .sortpriority {
  font-size: .8em;
  min-width: 12px;
  text-align: center;
  vertical-align: top; }

table thead th.sorted .sortoptions a {
  width: 14px;
  height: 12px;
  display: inline-block; }

table thead th.sorted .sortoptions a.sortremove {
  background: url(../img/sorting-icons.gif) -4px -5px no-repeat; }

table thead th.sorted .sortoptions a.sortremove:hover {
  background: url(../img/sorting-icons.gif) -4px -27px no-repeat; }

table thead th.sorted .sortoptions a.ascending {
  background: url(../img/sorting-icons.gif) -5px -50px no-repeat; }

table thead th.sorted .sortoptions a.ascending:hover {
  background: url(../img/sorting-icons.gif) -5px -72px no-repeat; }

table thead th.sorted .sortoptions a.descending {
  background: url(../img/sorting-icons.gif) -5px -94px no-repeat; }

table thead th.sorted .sortoptions a.descending:hover {
  background: url(../img/sorting-icons.gif) -5px -115px no-repeat; }

/* ORDERABLE TABLES */
table.orderable tbody tr td:hover {
  cursor: move; }

table.orderable tbody tr td:first-child {
  padding-left: 14px;
  background-repeat: repeat-y; }

table.orderable-initalized .order-cell, body > tr > td.order-cell {
  display: none; }