%font-body {
  font-family: 'Roboto', helvetica, arial, sans-serif;
}
%font-title {
  font-family: 'Maven Pro', helvetica, arial, sans-serif;
}
%fontSize {
  font-size: map-get($fontSizes, base);
}

%button-base {
  padding: 5px 10px;
  border: 1px solid $color-hero;
  border-radius: 2px;
  border-bottom-width: 2px;
  transition: all 100ms;
  box-shadow: inset 0px 1px rgba(255,255,255,0.2);
  background: lighten($color-hero, 10%);
  // color: $color-hero;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  &:hover {
    box-shadow: none;
    background-color: $color-hero;
    color: #fff;
    text-decoration: none;
  }
}

%button-destroy {
  background-color: lighten($color-destroy, 15%);
  border-color: $color-destroy;
  padding: 5px 10px;
  position: relative;

  &:before {
    @include faIcon(fa-trash, 3);
    margin-right: 10px;
    position: relative;
    top: 1px;
  }

  &:hover {
    text-decoration: none;
    background-color: $color-destroy;
  }
}

%adminBox {
  padding: 0;
  background-color: #fff;
  border: 0;
  // border-right: $border-grey;
  // border-bottom: $border-grey;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.03);
  margin: 0 0 $distance 0;
}

%alternateRows {
  border-bottom: 1px solid map-get($colorGrey, 'lightest');

  &:nth-child(even) {
    background-color: map-get($colorGrey, 'micro');
  }
}

%textfield-base {
  @extend %fontSize;
  padding: 6px 8px;
  border-radius: 2px;
  border: 1px solid map-get($colorGrey, 'lighter');
  border-bottom-color: map-get($colorGrey, 'light');
  border-bottom-width: 2px;
  width: 120px;

  &::selection {
    background: $color-hero; /* WebKit/Blink Browsers */
    color: #fff;
  }

  &:focus {
    outline: 0;
    border-bottom-color: $color-hero;
  }
}

%letterSpacing-normal {
  letter-spacing: $letterSpacing;
}
%letterSpacing-large {
  letter-spacing: $letterSpacing-large;
}