/*  ————————————————————————————————————————————————
   Functions
  ———————————————————————————————————————————————— */
@function map-deep-get($map, $keys...) {
  $value: $map;
  @each $key in $keys {
    $value: map-get($value, $key);
  }
  @return $value;
}


/* 	————————————————————————————————————————————————
	 Variables
	———————————————————————————————————————————————— */
$distance: 17px;
$distance-small: 13px;
$border-grey: 3px solid rgba(0,0,0,0.07);



/*   ————————————————————————————————————————————————
   Mixins
  ———————————————————————————————————————————————— */

@mixin adminBox() {
  padding: 0;
  background-color: #fff;
  border: 0;
  border-right: $border-grey;
  border-bottom: $border-grey;
  // margin: 0 0 $distance 0;
  margin-bottom: $distance;
}

@mixin transition($prop: all, $duration: 300ms, $addWebkitToProp: false, $easing: cubic-bezier(0.080, 0.360, 0.040, 1.000)) {
  @if $addWebkitToProp == true {
    -webkit-transition: -webkit-#{$prop} $duration $easing;
  } @else {
    -webkit-transition: $prop $duration $easing;
  }
  transition: $prop $duration $easing;
}


/*   ————————————————————————————————————————————————
   Extends
  ———————————————————————————————————————————————— */

%font-body {
  font-family: 'Roboto', helvetica, arial, sans-serif;
}
%font-title {
  font-family: 'Maven Pro', helvetica, arial, sans-serif;
}
%fontSize {
  font-size: map-get($fontSizes, base);
}

%button-base {
  padding: 5px 10px;
  border: 1px solid $color-site;
  border-radius: 2px;
  border-bottom-width: 2px;
  transition: all 100ms;
  box-shadow: inset 0px 1px rgba(255,255,255,0.2);
  background: $color-site;
  font-size: inherit;
  // color: $color-hero;
  color: #fff;
  cursor: pointer;
  display: inline-block;

  &:before {
    position: relative;
    top: 1px;
    margin-right: 8px;
  }

  &:hover {
    box-shadow: none;
    background-color: darken($color-site, 10%);
    border-color: darken($color-site, 10%);
    color: #fff;
    text-decoration: none;
  }
}

%button-strong {
  background-color: $color-hero;
  border-color: $color-hero;

  &:hover {
    background-color: darken($color-hero, 10%);
    border-color: darken($color-hero, 10%);
  }
}

%button-destroy {
  background-color: lighten($color-destroy, 15%);
  border-color: $color-destroy;
  padding: 5px 10px;
  position: relative;

  &:before {
    @include faIcon(fa-trash, 3);
    top: 0px;
  }

  &:hover {
    text-decoration: none;
    border-color: $color-destroy;
    background-color: $color-destroy;
  }
}

%adminBox {
  padding: 0;
  background-color: #fff;
  border: 0;
  // border-right: $border-grey;
  // border-bottom: $border-grey;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.03);
  margin: 0 0 $distance 0;
}

%alternateRows {
  border-bottom: 1px solid color('grey', 2);

  &:nth-child(even) {
    background-color: color('grey', 1);
  }
}

%textfield-base {
  @extend %fontSize;
  padding: 6px 8px;
  border-radius: 2px;
  border: 1px solid color('grey', 3);
  border-bottom-color: color('grey', 4);
  border-bottom-width: 2px;
  width: 120px;

  &::selection {
    background: $color-hero; /* WebKit/Blink Browsers */
    color: #fff;
  }

  &:focus {
    outline: 0;
    border-bottom-color: $color-hero;
  }
}

%letterSpacing-normal {
  letter-spacing: $letterSpacing;
}
%letterSpacing-large {
  letter-spacing: $letterSpacing-large;
}