@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

$fontSizes: (
  'micro': 9px,
  'smallest': 10px,
  'smaller': 12px,
  'small': 14px,
  'base': 16px,
  'large': 17px,
  'larger': 19px,
  'largest': 22px,
  'jumbo': 27px
);

@function fontsize($size: 'base') {
  // Expectations: A map called $colors and map-deep-get function
  // @param string $base: The base color to use inside an expected global map called $colors
  // @param string $tone: The tone value of the base color
  @if map-get($fontSizes, $size) {
    @return map-get($fontSizes, $size);
  }
  @warn "Did not find any matching size";
  @return 12px;
}

@mixin antialias() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin subpixel() {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}

$letterSpacing: 0.25px;
$letterSpacing-large: 0.75px;