
/* 	————————————————————————————————————————————————
	 Measurements
	———————————————————————————————————————————————— */
$distance: 17px;
$distance-small: 13px;

/* 	————————————————————————————————————————————————
	 Colors
	———————————————————————————————————————————————— */
/* Definitions */
$color-steel: #7a8ba0;
$color-steel-light: #c4cdd8;
$color-blue: #479eff;
$color-sand: #F5E9CC;
$color-sand-dark: #A09480;
$color-red-dark: #d31d1d;
$color-red-darker: #822121;
$color-green-light: #e1f1c6;
$color-green-darker: #6e8742;

$border-grey: 3px solid rgba(0,0,0,0.07);

$colorGrey: (
  'micro' : #fdfdfd,
  'lightest' : #f6f6f6,
  'lighter' : #e7e7e7,
  'light': #ccc,
  'base' : #b5b5b5,
  'dark' : #9a9a9a,
  'darker' : #767676,
  'darkest' : #353535,
  'jumbo' : #1f1f1f
);

/* Semantic Aliases */
$color-site: $color-steel;
$color-sidekick: $color-sand;
$color-hero: $color-blue;
$color-destroy: $color-red-dark;


/* 	————————————————————————————————————————————————
	 Type
	———————————————————————————————————————————————— */
$letterSpacing: 0.25px;
$letterSpacing-large: 0.75px;

$fontSizes: (
  'micro': 8px,
  'smallest': 9px,
  'smaller': 11px,
  'small': 12px,
  'base': 13px,
  'large': 15px,
  'larger': 17px,
  'largest': 20px,
  'jumbo': 25px
);


/* 	————————————————————————————————————————————————
	 Icons
	———————————————————————————————————————————————— */
$faIcons: (
  'fa-exclamation-circle': '\f06a',
  'fa-globe': '\f0ac',
  'fa-trash': '\f1f8',
  'fa-cloud-upload': '\f0ee',
  'fa-plus': '\f067',
  'fa-sort-amount-asc': '\f160',
  'fa-sort-amount-desc': '\f161',
  'fa-sort-desc' : '\f0dd',
  'fa-sort-asc' : '\f0de',
  'fa-exchange' : '\f0ec',
  'fa-pencil' : '\f040',
  'fa-plus-circle' : '\f055',
  'fa-search' : '\f002',
  'fa-check-circle' : '\f058',
  'fa-thumbs-up' : '\f164'
);

$faSizes: (
  1: 14px,
  2: 16px,
  3: 18px,
  4: 20px,
  5: 24px
);