
/*   ————————————————————————————————————————————————
   Calendarbox
  ———————————————————————————————————————————————— */
.calendarbox {

  caption {
    @extend %font-body;
    text-align: center;
    position: relative;
    padding: 5px;
    color: $color-site;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: color('grey', 2);

    &:before {
      content: " ";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: color('grey',3);
    }
  }

  .calendar {

  }

  .calendar-cancel a {
    @extend %button-base;
  }

  .calendar-shortcuts {
    border-top: 1px solid color('grey', 3);
    border-bottom: 1px solid color('grey', 3);
    padding: 5px;
    // color: color('grey', 3);
    color: transparent;
    a {
      display: inline-block;
      margin: 0 8px;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    td,th {
      text-align: center;

      a {
        display: block;
      }
    }

    td {
      &.selected {
        background-color: $color-hero;
        a {
          color: #fff;
        }
      }
    }
  }

  .calendarnav-previous, .calendarnav-next {
    color: transparent;
    width: 17px;

    &:before {
      color: $color-site;
    }
  }

  .calendarnav-previous {
    float: left;

    &:before {
      @include faIcon('fa-arrow-circle-left', 3);
    }
  }

  .calendarnav-next {
    float: right;

    &:before {
     @include faIcon('fa-arrow-circle-right', 3);
    }
  }
}


/* CALENDARS & CLOCKS */

.calendarbox, .clockbox {
  width: 300px;
  text-align: center;
  background: #fff;
  position: relative;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  border: 1px solid color('grey', 4);

  > div:first-of-type {
    position: absolute;
    width: 100%;
    z-index: 2;
    padding: 7px 10px;
  }
}

.clockbox {
    width: auto;
}

// .calendar {
//     margin: 0;
//     padding: 0;
// }

// .calendar table {
//     margin: 0;
//     padding: 0;
//     border-collapse: collapse;
//     background: white;
//     width: 100%;
// }

// .calendar caption, .calendarbox h2 {
//     margin: 0;
//     font-size: 11px;
//     text-align: center;
//     border-top: none;
// }

// .calendar th {
//     font-size: 10px;
//     color: #666;
//     padding: 2px 3px;
//     text-align: center;
//     background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;
//     border-bottom: 1px solid #ddd;
// }

// .calendar td {
//     font-size: 11px;
//     text-align: center;
//     padding: 0;
//     border-top: 1px solid #eee;
//     border-bottom: none;
// }

// .calendar td.selected a {
//     background: #C9DBED;
// }

// .calendar td.nonday {
//     background: #efefef;
// }

// .calendar td.today a {
//     background: #ffc;
// }

// .calendar td a, .timelist a {
//     display: block;
//     font-weight: bold;
//     padding: 4px;
//     text-decoration: none;
//     color: #444;
// }

// .calendar td a:hover, .timelist a:hover {
//     background: #5b80b2;
//     color: white;
// }

// .calendar td a:active, .timelist a:active {
//     background: #036;
//     color: white;
// }

// .calendarnav {
//     font-size: 10px;
//     text-align: center;
//     color: #ccc;
//     margin: 0;
//     padding: 1px 3px;
// }

// .calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover {
//     color: #999;
// }

// .calendar-shortcuts {
//     background: white;
//     font-size: 10px;
//     line-height: 11px;
//     border-top: 1px solid #eee;
//     padding: 3px 0 4px;
//     color: #ccc;
// }

// .calendarbox .calendarnav-previous, .calendarbox .calendarnav-next {
//     display: block;
//     position: absolute;
//     font-weight: bold;
//     font-size: 12px;
//     background: #C9DBED url(../img/default-bg.gif) bottom left repeat-x;
//     padding: 1px 4px 2px 4px;
//     color: white;
// }

// .calendarnav-previous:hover, .calendarnav-next:hover {
//     background: #036;
// }

// .calendarnav-previous {
//     top: 0;
//     left: 0;
// }

// .calendarnav-next {
//     top: 0;
//     right: 0;
// }

// .calendar-cancel {
//     margin: 0 !important;
//     padding: 0 !important;
//     font-size: 10px;
//     background: #e1e1e1 url(../img/nav-bg.gif) 0 50% repeat-x;
//     border-top: 1px solid #ddd;
// }

// .calendar-cancel:hover {
//     background: #e1e1e1 url(../img/nav-bg-reverse.gif) 0 50% repeat-x;
// }

// .calendar-cancel a {
//     color: black;
//     display: block;
// }

// ul.timelist, .timelist li {
//     list-style-type: none;
//     margin: 0;
//     padding: 0;
// }

// .timelist a {
//     padding: 2px;
// }





/*   ————————————————————————————————————————————————
   Selector
  ———————————————————————————————————————————————— */
.selector {
  h2 {
    @extend %letterSpacing-large;
    margin: 0;
    text-transform: uppercase;
    font-size: map-get($fontSizes, 'base');
    padding: 6px;
    border: 0;
  }

  .selector-filter {
    border-color: color('grey', 3);
    padding: 9px;

    label {
      margin-right: 4px;
      margin-top: 5px;
      padding: 0;
    }
  }

  .selector-available h2 {
    background: color('grey', 2);
  }

  .selector-chosen h2 {
    background: #eef6ff;
    color: $color-hero;
  }

  select {
    border-color: color('grey', 3);
    padding: 8px;
    font-size: map-get($fontSizes, 'base');
    height: 200px;

    &:active, &:focus {
      outline: none;
      border-color: $color-hero;
    }
  }
}