
/*  ————————————————————————————————————————————————
     Imports
    ———————————————————————————————————————————————— */
@import 'mixins';
@import 'fonts';
@import 'variables';
@import 'extends';
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);



/*  ————————————————————————————————————————————————
     Resets
    ———————————————————————————————————————————————— */
html,body{min-height:100%;background:#f4f4f4;-webkit-font-smoothing:antialiased;margin:0;padding:0;-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; -moz-osx-font-smoothing: grayscale;}
input, select { font-family: inherit; font-size: inherit; }
::selection {
  background: $color-hero; /* WebKit/Blink Browsers */
  color: #fff;
}

* {
  box-sizing: border-box;
}

th {
  font-weight: inherit;
}

/*  ————————————————————————————————————————————————
     Main
    ———————————————————————————————————————————————— */

body {
  @extend %font-body;
  @extend %letterSpacing-normal;
  @extend %fontSize;
  background: #f4f4f4;
  color:#333;
  // padding: $distance;
  padding-left: $distance;
  padding-right: $distance;
  padding-top: 120px; /* for fixed header */
  padding-bottom: 60px; /* for .submit-row */

  &.popup {
    padding-top: 20px;
  }
}

h1 {
    @extend %font-title;
    text-transform: uppercase;
}

h2,h3 {
  font-weight: 500;
}

a {
  text-decoration: none;
  color: $color-blue;
  border-bottom: 1px solid transparent;

  &:hover {
    text-decoration: underline;
  }
}


/*  ————————————————————————————————————————————————
     Header
    ———————————————————————————————————————————————— */
#header {
  position: fixed;
  z-index: 100;
  width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
  padding: 0 $distance;
  height: 100px;
  background-color: #fff;
  // border-bottom: 3px solid rgba(0,0,0,0.07);
  box-shadow: 0 3px 1px rgba(0,0,0,0.05);

  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    height: 42px;
    // border-bottom: 1px solid rgba(0,0,0,0.4);
    background-color: $color-site;
  }
}

#branding {
  // background-color: $color-site;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

#site-name {
  margin: 0;

  &:before {
    @include faIcon(fa-globe, 3);
    color: #fff;
    margin-right: 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 0;
  }
}

#user-tools {
  position: relative;
  top: -40px;
  width: 100%;
  max-width: 1100px;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
  color: rgba(255,255,255,0.7);
  line-height: 40px;
  text-transform: uppercase;
  font-size: 12px;

  strong:first-of-type:after {
    content: " ";
    display: block;
  }

  a {
    text-transform: none;
  }
}

#header + .breadcrumbs {
  position: fixed;
  z-index: 110;
  top: 71px;
  font-size: 14px;
  margin-left: -2px;

  a {
    margin: 0 2px;
  }
}

/*   ————————————————————————————————————————————————
   General Content styling
  ———————————————————————————————————————————————— */
#content-main, .module {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.module {
  @extend %adminBox;

  > h2:first-of-type, caption {
    @extend %font-title;
    @extend %letterSpacing-normal;
    margin: 0;
    background-color: $color-sidekick;
    color: $color-sand-dark;
    padding: 5px $distance-small;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;

    @include breakpoint('desktop') {
      font-size: 14px;
    }

    &:after {
      content: " ";
      position: absolute;
      right: -3px;
      width: 3px;
      height: 100%;
      bottom: 0;
      background-color: darken($color-sidekick, 5%);
    }
  }

  .datetime {
    input {
      margin-bottom: 5px;
    }
  }
}

#container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

#content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;

  & > h1:first-of-type {
    position: fixed;
    z-index: 110;
    top: 42px;
    font-size: 16px;
    font-weight: 500;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}


table {
  text-align: left;
  width: 100%;
  border-spacing: 0px;

  thead {
    th {
      color: #000;
      font-weight: 500;
      border-bottom: 1px solid map-get($colorGrey, 'base');
    }
  }

  caption {
    text-transform: uppercase;
    @extend %font-title;
    text-align: left;
    font-weight: 500;
    font-size: map-get($fontSizes, 'large');
    letter-spacing: 0;

    a.section {
      color: inherit;
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }

  caption + tbody {
    tr {
      th, td {
        padding: 3px 10px;
      }

      &:last-of-type {
        th, td {
          padding-bottom: 10px;
        }
      }
      &:first-of-type {
        th,td {
          padding-top: 10px;
        }
      }
    }
  }
}

fieldset {
  &.collapsed {
    display: block;

    * {
      display: none;
    }

    h2 {
      display: block;
    }
  }
  &.collapse {
    .collapse-toggle {
      display: inline-block !important;
      padding: 0 2px;
    }
  }
}


label {
  @extend %fontSize;
}

.aligned label {
  width: 155px;
  padding-top: 6px;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], textarea {
  @extend %textfield-base;
}

input.vTextField {
  width: 220px;
}

select:not([multiple]) {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-size: map-get($fontSizes, 'base');
  border-radius: 0;
  border: 1px solid map-get($colorGrey, 'light');
  margin-right: 5px;
  padding: 7px 35px 7px 7px;
  background: url(../img/select-arrows.png) no-repeat right 13px;
  background-size: 25px 50px;

  &:focus, &:active {
    border-color: $color-hero;
    outline: none;
  }

  &:hover {
    background-position: right -30px;
  }
}

.button, input[type="submit"] {
  @extend %button-base;
}



/*   ————————————————————————————————————————————————
    Modules
  ———————————————————————————————————————————————— */

.object-tools {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;

  li {
    display: inline-block;

    & + li {
      margin-left: 10px;
    }

    a {
      @extend %button-base;

      &.addlink {
        &:before {
          @include faIcon('fa-plus')
        }
      }
    }
  }
}

#recent-actions-module {
  h3 {
    padding-left: $distance-small;
    -webkit-font-smoothing: subpixel-antialiased;
  }

  p {
    padding-left: $distance-small;
  }

  .actionlist {
    padding-left: 0;

    li {
      padding: 5px $distance-small;
      border-bottom: 1px solid map-get($colorGrey, 'lightest');

      &:before {
        color: map-get($colorGrey, 'light');
        width: 15px;
        display: inline-block;
        text-align: center;
        margin-right: 5px;
      }

      &.deletelink {
        color: map-get($colorGrey, 'dark');

        &:before {
          @include faIcon(fa-trash)
        }
      }
      &.changelink {
        &:before {
          @include faIcon(fa-pencil)
        }
      }
      &.addlink {
        &:before {
          @include faIcon(fa-plus)
        }
      }

      &:nth-child(even) {
        background-color: map-get($colorGrey, 'micro');
      }

      br {
        display: none;
      }

      span {
        color: map-get($colorGrey, 'base');
        &:before { content: "(" };
        &:after { content: ")" };
      }
    }
  }
}

.required label, label.required {
  color: $color-site !important;
  // font-weight: normal !important;
}

.errornote {
  color: $color-destroy;

  &:before {
    @include faIcon('fa-exclamation-circle')
  }
}

form .aligned p.help {
  color: map-get($colorGrey, 'base');
  margin-top: 5px;
  padding-left: 0;
}

form .aligned p, form .aligned ul {
  margin-left: 155px;
  padding-left: 0;
}

form .wide p.help {
  margin-left: 197px;
}

.form-row {
  border-bottom: 0;

  &:first-of-type {
    padding-top: 15px;
  }

  &:last-of-type {
    border-bottom: 0;
    padding-bottom: 15px;
  }
}




/*   ————————————————————————————————————————————————
   Submit row
  ———————————————————————————————————————————————— */
.submit-row {
  position: fixed;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  width: 100%;
  max-width: 1100px;
  margin: 0;
  background: #fff;
  border: 0;
  text-align: left;
  padding: $distance-small $distance;
  border-radius: 2px;
  // border-right: $border-grey;
  // border-top: $border-grey;
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.05);

  p {
    margin: 0;
  }

  input {
    @extend %button-base;
    margin-left: 8px;

    &:first-child {
      margin-left: 0;
    }
  }

  .deletelink-box {
    position: relative;
    float: right;

    a.deletelink {
      @extend %button-base;
      @extend %button-destroy;
    }
  }
}


/*   ————————————————————————————————————————————————
   Message & Error list
  ———————————————————————————————————————————————— */

.messagelist, .errorlist {
  padding: 0;
  margin-left: 0;

  li { list-style: none; display: inline-block; }
}

.messagelist {
  text-align: center;

  .success {
    background: $color-green-light;
    border-right: 3px solid darken($color-green-light, 7%);
    border-bottom: 3px solid darken($color-green-light, 7%);
    padding: 10px;
    color: $color-green-darker;

    &:before {
      @include faIcon('fa-exclamation-circle');
      margin-right: 6px;
      // color: #fff;
    }
  }
}

.errorlist {
  color: $color-destroy;
}


/*   ————————————————————————————————————————————————
   Selector
  ———————————————————————————————————————————————— */
.selector {
  h2 {
    @extend %font-title;
    @extend %letterSpacing-large;
    margin: 0;
    text-transform: uppercase;
    font-size: map-get($fontSizes, 'base');
    padding: 6px;
    border: 0;
  }

  .selector-filter {
    border-color: map-get($colorGrey, 'lighter');
    padding: 9px;

    label {
      margin-right: 4px;
      margin-top: 5px;
      padding: 0;
    }
  }

  .selector-available h2 {
    background: map-get($colorGrey, 'lightest');
  }

  .selector-chosen h2 {
    background: #eef6ff;
    color: $color-hero;
  }

  select {
    border-color: map-get($colorGrey, 'lighter');
    padding: 8px;
    font-size: map-get($fontSizes, 'base');
    height: 200px;

    &:active, &:focus {
      outline: none;
      border-color: $color-hero;
    }
  }
}


/*   ————————————————————————————————————————————————
   Changelist
  ———————————————————————————————————————————————— */
.change-list {
  .hiddenfields { display:none; }

  .filtered {
    background: #fff;
    min-height: 650px;

    table {
        border-right: 1px solid #ddd;
    }
  }
}

.change-list .filtered .results, .change-list .filtered .paginator, .filtered #toolbar, .filtered div.xfull {
  margin-right: 160px !important;
  width: auto !important;
}

#changelist {
  position: relative;
  width: 100%;

  #changelist-filter {
    background: none;
    width: 140px;
    border-left: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 40;
    margin: 0;

    ul {
      margin-left: 0;
      margin-top: 5px;

      li {
        padding-left: 0;
        border-left: 0;

        &.selected {
          margin-left: 0;
          a {
            color: $color-hero !important;
          }
        }
      }
    }


    a {
      display: block;
      cursor: pointer;

      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }

    h2 {
      border-bottom: 0;
      text-transform: uppercase;
      background: lighten($color-site,20%);
      color: #fff;
      position: relative;

      &:after {
        content: " ";
        position: absolute;
        width: 3px;
        top: 0;
        height: 19px;
        right: -3px;
        background-color: lighten($color-site, 8%);
      }
    }
  }

  .toplinks {
      border-bottom: 1px solid #ccc;
  }

  .paginator {
    color: #666;
    border-top: 1px solid #ddd;
    overflow: hidden;
    border-right: 0;
    padding-left: 10px;
  }

  #changelist-search {
    label {
      &:before {
        @include faIcon('fa-search');
        color: map-get($colorGrey, 'light');
        margin-right: 3px;
        display: inline-block;
      }
    }
  }

  #toolbar {
    padding: 10px 3px;
    color: #666;
    background: #fff;
    // float: left;
    margin: 5px 5px 0;
    position: relative;

    img {
      display: none;
    }

    form #searchbar {
      @extend %textfield-base;
      width: 300px;
      // max-width: 140px;
    }
  }


  table {
    border-top: 1px solid #eee;

    .row2 {
      background: map-get($colorGrey, 'micro');
    }

    thead {
      a {
        color: #000;
        display: block;
        -webkit-font-smoothing: subpixel-antialiased;
      }

      th {
        padding: 5px 7px;
        white-space: nowrap;
        vertical-align: middle;
        position: relative;
        border-bottom: 1px solid map-get($colorGrey, 'base');
        border-right: 1px solid map-get($colorGrey, 'lighter');

        &:last-child {
          border-right: 0;
        }

        &.action-checkbox-column {
          width: 1.5em;
          text-align: center;
        }
      }

      .sorted {
        .text {
          padding-right: 10px;
        }
        .sortoptions {
          display: block;
          float: right;
          margin-right: 8px;

          .sortpriority {
            font-size: 10px;
            // background: map-get($colorGrey, 'lightest');
            color: map-get($colorGrey, 'base');
            display: inline-block;
            vertical-align: 1px;
            width: 13px;
            height: 13px;
            text-align: center;

          }
        }

        &:after {
          position: absolute;
          top: 12px;
          color: map-get($colorGrey, 'dark');
          right: 5px;
        }

        &.ascending {
          &:after {
            @include faIcon(fa-sort-asc)
          }
        }
        &.descending {
          &:after {
            top: 6px;
            @include faIcon(fa-sort-desc)
          }
        }

      }
    }
    tbody {
      tr {

        td, th {
          padding: 4px 7px;
          border-bottom: 1px solid map-get($colorGrey, 'lightest');
        }

        td.action-checkbox {
          text-align:center;
        }

        &:last-of-type {
          td, th {
            border-bottom: 0;
          }
        }

      }

    }
  }

  .actions {
    background: none;
    padding: 8px 5px;
    border-right: 0;
    position: absolute;
    background: map-get($colorGrey, 'micro');
    border-top: 1px solid map-get($colorGrey, 'lightest');
    color: map-get($colorGrey, 'base');
    bottom: 0;
    left: 0;
    width: 100%;

    .button {
      font-size: inherit;
      padding: inherit;
    }
  }

  form {
    input[type="submit"] {
      @extend %button-base;
      display: none;
    }


  }
}

#changelist-form {
  padding-bottom: 52px; /* height of .actions */

  .results {
    overflow-x: auto;
  }
}



/*   ————————————————————————————————————————————————
   Change history table
  ———————————————————————————————————————————————— */
#change-history {
  th, td {
    padding: 4px 4px 4px 10px;
  }

  tbody {
    tr {
      th, td {
        border-bottom: 1px solid map-get($colorGrey, 'lightest');
      }
      &:nth-child(even) {
        th, td {
          background-color: map-get($colorGrey, 'micro');
        }
      }
    }
  }
}


/*   ————————————————————————————————————————————————
   Inline
  ———————————————————————————————————————————————— */
.inline-group {
  ul.tools a.add, div.add-row a, .tabular tr.add-row td a {
    @extend %button-base;
  }

  td {
    padding: 10px 0 0;
  }
}

.inline-related.tabular fieldset.module table {
  td,th {
    padding: 7px 10px;
  }
}

.inline-deletelink {
  float: left;
}


/*   ————————————————————————————————————————————————
   Page: Dashboard
  ———————————————————————————————————————————————— */
body.dashboard {
  #content-main {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-gap: 20px;
    column-gap: 1em;
  }

  div[class^="app-"] {
    td:last-of-type, .changelink {
      display: none;
    }

    .addlink {
      color: transparent;
      font-size: 0;
      &:before {
        color: $color-hero;
        text-indent: 0;
        @include faIcon(fa-plus-circle, 3)
      }

    }
  }

  .module {
    display: inline-block;
    width: 100%;

    table {
      th {
        width: 100%;
      }
      td {
        white-space: nowrap;
      }
    }

    ul.actionlist {
      margin-left: 0;

      li {
        list-style-type: none;
        overflow: hidden;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
      }
    }
  }


}
/*   ————————————————————————————————————————————————
   Page: Popup
  ———————————————————————————————————————————————— */
body.popup #content h1:first-of-type {
  position: static;
}


/*   ————————————————————————————————————————————————
   Page: Delete confirmation
  ———————————————————————————————————————————————— */
body.delete-confirmation {
  input[type="submit"] {
    @extend %button-destroy;
  }
}